<launch>
    <node name="base_4wheel" pkg="smartcar_control" type="4_drive_control.py" output="screen">
        <param name="serial_dev"        type="string"   value="/dev/ttyUSB0" />
        <param name="serial_baud_rate"  type="int"      value="115200" />
        <param name="serial_timeout"    type="int"   value="500" />
        <param name="lim_avel_wheel"    type="double"   value="3600.0" />
        <param name="cmd_vel_timeout"   type="double"   value="1.0" />
        <param name="disconnected_as_estop"    type="boolean"  value="true" />
        <param name="update_state_by_imu"      type="boolean"  value="false" />
        <param name="node_freq"         type="double"   value="15.0" />
        <param name="dist_wheels"       type="double"   value="0.35" />
        <param name="diameter_wheel"    type="double"   value="0.17" />
        <param name="dist_axis"         type="double"   value="0.52" />
        <param name="acc_vel"           type="double"   value="0.05" />
        <param name="acc_theta"         type="double"   value="0.1" />
        <param name="revert_z"          type="boolean"  value="false" />
        <param name="publish_odom_transform"   type="boolean"  value="true" />
        <param name="start_enable"      type="boolean"  value="true" />
    </node>
    <node name="base_imu_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0  base_footprint imu_link 100"/>
</launch>
